<%= form_tag documents_path, method: :get, class: "navbar-form navbar-left", role: "search" do %>
	<div class="input-group">
		<div class="row">
			<div class="col-md-6 nopadding">
				<%= text_field_tag :search, params[:search], :placeholder => "Search", class: "form-control" %>
			</div>
			<div class="col-md-6 nopadding">
				<%= text_field_tag :date_filter, params[:date_filter], :placeholder => "Date Received", class: "form-control datetimepicker" %>
			</div>
		</div>
		<div class="input-group-btn">
			<%= button_tag(type: "submit", class: "btn btn-default") do %>
			    <i class="fa fa-search"></i>
			<% end %>
		</div>
	</div>

<% end %>